.jumbotron {
    /* background-image: url('../images/pizzafriends.png'); */
    color: white;
    /* background-size: cover; */
    background-repeat: repeat;
    text-align: center;
}  
.transbox {
    color: purple;
    margin: 20px;
    background-color: white;
    border: 1px solid;
    opacity: 0.9;
  }


body {
    background-color: rgb(236, 79, 152);
}

.gifdisplay {
    margin-top: 10px;
}

.autumnBtn {
    background-color: rgb(180, 25, 110);
    color: rgb(231, 147, 50);
}

#newLike {
    margin-bottom: 7px;
}

#addLike {
    background-color: #fb9f32;
}
